/** desktop **/
.container {
    background-color: var(--primary-light);
    padding: var(--s4) var(--s6);
}

/** mobile **/
@media screen and (max-width: 900px) {
    .container {
        padding: var(--s3) var(--s4);
    }
}